{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if title %}{{ title }}{% else %}Nebula - najlepsza platforma stramingowa!{% endif %} </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="shortcut icon" href="{% static 'favicon.jpg' %}">
    {% block head %}
    {% endblock %}
</head>
<body>
<div class="notifications" style="position: fixed; top: 10px; right: 10px; z-index: 1000; max-width: 300px;">
</div>
{% block navbar %}
    <nav class="navbar is-black" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <h1 class="title" style="color: white;">Nebula</h1>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'home' %}">
                    Strona główna
                </a>

                <a class="navbar-item" href="{% url 'movie_list' %}">
                    Filmy
                </a>

                <a class="navbar-item" href="{% url 'category_list' %}">
                    Kategorie
                </a>
                {% if user.is_authenticated %}
                    <a class="navbar-item" href="{% url 'history' %}">
                        Historia
                    </a>
                    <a class="navbar-item" href="{% url 'favourites' %}">
                        Ulubione
                    </a>
                    <a class="navbar-item" href="{% url 'watch_later' %}">
                        Do obejrzenia
                    </a>
                {% endif %}
            </div>
            {% if not user.is_authenticated %}
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-link" href="{% url 'register' %}">
                                <strong>Rejestruj</strong>
                            </a>
                            <a class="button is-light" href="{% url 'login' %}">
                                Zaloguj się
                            </a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            {% if user.is_superuser %}
                                <a class="button is-link" href="/admin">
                                    <strong>Panel administratora</strong>
                                </a>
                            {% endif %}
                            <a class="button is-link" href="{% url 'profile' user|slugify %}">
                                Witaj&nbsp<strong>{{ user }}</strong>!
                            </a>
                            <a class="button is-link" href="{% url 'logout' %}">
                                Wyloguj się
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </nav>
{% endblock %}
{% block body %}
{% endblock %}
<script>
    function getNotifications() {
        const url = '{% url 'get_notifications' %}'; // Replace with the actual URL

        fetch(url, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken') // Fetch CSRF token from cookies
            },
            credentials: 'same-origin'
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok ' + response.statusText);
                }
                return response.json();
            })
            .then(data => {
                const notificationsContainer = document.querySelector('.notifications');
                data.notifications.forEach(notification => {
                    const elem = document.createElement('div');
                    elem.classList.add('notification', notification.color); // Adding Bulma classes
                    elem.innerHTML = `<strong>${notification.title}</strong>: ${notification.content}`;

                    elem.addEventListener('mousedown', () => {
                        elem.remove();
                    });

                    notificationsContainer.appendChild(elem);
                });
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
    }

    // Function to get CSRF token from cookies
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    document.addEventListener("DOMContentLoaded", () => {
        getNotifications();
    })
</script>
</body>
</html>